extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Water Source
            .panel-body
                p= location.waterSource
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              each facility in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                    | &nbsp;#{facility}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              //img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}&scale=2")
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6761.337737130048!2d34.771752040144236!3d32.07820377375647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4ca6193b7c1f%3A0xc1fb72a2c0963f90!2sTel+Aviv-Yafo%2C+Israel!5e0!3m2!1sen!2sru!4v1563391558937!5m2!1sen!2sru")
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Volunteers list
                .actions-container
                    a.btn.btn-warning.btn-sm(href="/volunteer?action=addVolunteer&locationid=#{location._id}") Add new volunteer
                    a.btn.btn-success.btn-sm(href="/assignVolunteer?action=assignVolunteer&locationname=#{location.name}") Assign volunteer
            .panel-body.volunteer-container
              each volunteer in location.volunteers
                .row
                  .volunteer
                    .well.well-sm.volunteer-header
                      span.rating
                      p.reviewAuthor.authorBig #{volunteer.volunteerName}
                      p.reviewAuthor #{volunteer.volunteerAddress}
                      .actions-container
                          a.btn.btn-danger.btn-sm(href="/volunteers/#{volunteer._id}") Edit volunteer
                          a.btn.btn-primary.btn-sm(href="/locations/#{location._id}?action=unsubscribeVolunteer&locationid=#{location._id}&volunteerid=#{volunteer._id}") Unassign
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Cats list
                .actions-container
                    a.btn.btn-warning.btn-sm(href="/cats?action=addCat&locationid=#{location._id}") Add new cat
                    a.btn.btn-success.btn-sm(href="/assignCat?action=assignCat&locationname=#{location.name}") Assign cat
            .panel-body.cat-container
              each cat in location.cats
                .row
                  .cat
                    .well.well-sm.cat-header
                      span.rating
                      p.authorBig #{cat.catName}
                      p #{cat.catChipNumber}
                      .actions-container
                          a.btn.btn-danger.btn-sm(href="/cats/#{cat._id}") Edit cat
                          a.btn.btn-primary.btn-sm(href="/cats/#{location._id}?action=unsubscribeCat&locationid=#{location._id}&catid=#{cat._id}") Unassign

.col-xs-12.col-md-3
  p.lead #{location.name} #{sidebar.context}
  p= sidebar.callToAction

