extends layout

block content
    h1= title
    .spacer
        p Cat's gallery:
         p > #{avatarID}
    each thumb in thumbs
        img(src="data:#{thumb.contentType};base64,#{thumb.imageData.data}")
        .photorow
            //p > #{thumb._id}
            a.btn.btn-primary.btn-sm(href="/photos/cats/#{catid}?action=removePhoto&photoID=#{thumb._id}") Remove photo
            a.btn.btn-primary.btn-sm(href="/photos/cats/#{catid}?action=setAvatar&photoID=#{thumb._id}") Set as avatar

    .spacer
        p Upload new image:
        form(method="post", enctype="multipart/form-data", action="/photos/cats/#{catid}")
            p.imageupload
                input(multiple="multiple", type="file", name="images")
            p.imageupload
                input(type="submit", value="Upload")