extends layout

block content
  .row.page-header: .col-lg-12
        h1= pageHeader.title
        form(action='/assignVolunteer', method= "post",  role="form")
            .row
                .col-xs-12.col-sm-6
                    div.locUpdContainer
                        select
                            each location in locations
                                option(value="#{location._id}") #{location.name}
                .col-xs-12.col-sm-6
                    div.volUpdContainer
                        select
                            each value,label in volunteers
                                                    label #{label.volunteerName}:&nbsp &nbsp
                                                    input(type="text", name="#{label}", value="#{value}")
            .row
                .col-xs-12.col-sm-6
                    div
                        input.savebutton(type="submit", value="Save")