extends layout

block content
  .row.page-header: .col-lg-12
      h1= pageHeader.title
    form(method= "POST", action='/locations/6969', role="form",  name="assign-volunteer")
        .row
            .col-xs-12.col-sm-6
                div.locUpdContainer
                    select
                        each location in locations
                            option(value="#{location._id}") #{location.name}
            .col-xs-12.col-sm-6
                div.volUpdContainer
                    select
                        each volunteer in volunteers
                            option(value= "#{volunteer._id}") #{volunteer.volunteerName}
        .row
            .col-xs-12.col-sm-6
                div
                    input.savebutton(type="submit", value="Save")